[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.xmo.xmo",
      "sha256_cert_fingerprints": [
        "REPLACE_WITH_GOOGLE_PLAY_APP_SIGNING_SHA256",
        "07:5E:98:55:4B:3F:80:A0:CA:AC:1D:FE:A1:85:43:2E:62:6C:B7:08:7E:44:01:50:B5:9D:50:AB:CF:61:15:47"
      ]
    }
  }
]
